<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MinuteConversionCalculator.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <MinuteConversionCalculator.My.MySettings>
            <setting name="LeavesEarnedInYear" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="MaxHours" serializeAs="String">
                <value>8</value>
            </setting>
        </MinuteConversionCalculator.My.MySettings>
    </userSettings>
</configuration>
